


<ul>
<% @books.each do |book| %>
  <li>
    <%= book.name %>
  <%= link_to 'Show', book_path(book) %>
  <%= link_to 'Edit', edit_book_path(book) %>
  <%= button_to 'Delete', book_path(book), :method => :delete, :data => { :confirm => "Are you sure?" } %>
  </li>
<% end %>
<%= paginate @books %>
</ul>
<%= link_to 'New Book', new_book_path %>